<!DOCTYPE html>

<html>

<div class="header">
    <h1>Moayad Algergawi</h1>
    <p>Welcome to my Web Application.</p>
    <a href="url">https://github.com/MoayadGergawi</a>
</div>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>

<div class="footer">
    <p>A layout typically includes common user interface elements such as the app header, navigation or menu elements, and footer.</p>
    <p>I put CSS in the layout file because the stylesheet will do a styple for the html which will go in the the layout.</p>
    <p>I put Layout with the html and the style sheet because they will operate togather.</p>
</div>

</body>
</html>