@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<body>
    <div class="Heading">
        <h3>Ten Green Bottles</h3>
    </div>

    <div class="Contains">
        <p>
            Ten green bottles hanging on the wall<br>
            Ten green bottles hanging on the wall<br>
            And if one green bottle should accidentally fall<br>
            There'll be nine green bottles hanging on the wall
        </p>
        <p>
            Nine green bottles hanging on the wall<br>
            Nine green bottles hanging on the wall<br>
            And if one green bottle should accidentally fall<br>
            There'll be eight green bottles hanging on the wall
        </p>
        <p>
            Eight green bottles hanging on the wall<br>
            Eight green bottles hanging on the wall<br>
            And if one green bottle should accidentally fall<br>
            There'll be seven green bottles hanging on the wall
        </p>
        <p>
            Seven green bottles hanging on the wall<br>
            Seven green bottles hanging on the wall<br>
            And if one green bottle should accidentally fall<br>
            There'll be six green bottles hanging on the wall
        </p>
        <p>
            Six green bottles hanging on the wall<br>
            Six green bottles hanging on the wall<br>
            And if one green bottle should accidentally fall<br>
            There'll be five green bottles hanging on the wall
        </p>
        <p>
            Five green bottles hanging on the wall<br>
            Five green bottles hanging on the wall<br>
            And if one green bottle should accidentally fall<br>
            There'll be four green bottles hanging on the wall
        </p>
        <p>
            Four green bottles hanging on the wall<br>
            Four green bottles hanging on the wall<br>
            And if one green bottle should accidentally fall<br>
            There'll be three green bottles hanging on the wall
        </p>
        <p>
            Three green bottles hanging on the wall<br>
            Three green bottles hanging on the wall<br>
            And if one green bottle should accidentally fall<br>
            There'll be two green bottles hanging on the wall
        </p>
        <p>
            Two green bottles hanging on the wall<br>
            Two green bottles hanging on the wall<br>
            And if one green bottle should accidentally fall<br>
            There'll be one green bottles hanging on the wall
        </p>
        <p>
            One green bottle hanging on the wall<br>
            One green bottle hanging on the wall<br>
            And if one green bottle should accidentally fall<br>
            There'll be no green bottles hanging on the wall.
        </p>
</div>
</body>
</html>