@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<body>
    <p>
        FirstName<br>
        LastName<br>
        Age<br>
        EmailAddress<br>
        DateOfBirth<br>
        Description
    </p>
</body>
</html>

